@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=VT323&display=swap');

html {
    margin-left: 10px;
    background-color: #000; 
    color: #efefef;
    font-family: 'VT323', monospace;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', sans-serif;
}

button {
    font-family: 'VT323', monospace;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.95);
    color: #000;
    border: rgba(255, 255, 255, 0.95);
    margin: 5px;
}

button:hover {
    background-color: rgba(230, 230, 230, 0.95);
    border: rgba(230, 230, 230, 0.95);
}

link {
    color: #efefef;
}