@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html {
    background-color: #000; 
    color: #efefef;
    font-family: 'VT323', monospace;
    background: url("/content/bg/background4k.png") no-repeat center fixed; 
    /* we shouldnt assume 4k really but its nothing */
    background-size: cover;
}

button {
    font-family: 'VT323', monospace;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 8px;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.95);
    color: #000;
    border: rgba(255, 255, 255, 0.95);
    margin: 5px;
}

button:hover {
    background-color: rgba(230, 230, 230, 0.95);
    border: rgba(230, 230, 230, 0.95);
}

.link {
    color: #efefef;
    
    text-decoration: none;
}

@media (max-width: 1080px) and (max-height: 1920px) {

    html {
        background: url("/content/bg/background1080.png") no-repeat center fixed; 
    }

}

@media (max-width: 720px) and (max-height: 1280px) {

    html {
        background: url("/content/bg/background720.png") no-repeat center fixed; 
    }

}