@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Poppins:wght@500&display=swap');

html {
    background-color: #efefef;
    color: #131313;
    font-family: 'Roboto Slab', serif;
}

.link {
    color: #131313;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

nav {
    font-family: 'Poppins', sans-serif;
    z-index: 1101;
}

button {
    padding: 12px 20px;
    border-radius: 100px;
    transition: 0.5s;
    background-color: rgba(33, 33, 40, 0.95);
    color: #fff;
    border: rgba(33, 33, 40, 0.95);
}

button:hover {
    padding: 12px 20px;
    background-color: rgba(44, 44, 50, 0.95);
    border: rgba(44, 44, 50, 0.95);
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #131313; 
        color: #efefef;
    }

    .link {
        color: #efefef;
    }

    button {
        padding: 12px 20px;
        border-radius: 100px;
        background-color: rgba(255, 255, 255, 0.95);
        color: #000;
        border: rgba(255, 255, 255, 0.95);
    }
    
    button:hover {
        background-color: rgba(230, 230, 230, 0.95);
        border: rgba(230, 230, 230, 0.95);
    }
}