.main {
    background-color: #090909;
    height: 90svh;
    margin: auto;
    margin-top: 25px;
    padding: 2px 0 2px 10px;
    width: 85%;
}

.vertical {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.specialparagraph {
    display: inline;
}

.titlebar {
    display: grid;
    width: 85%;
    height: 20px;
    background-color: #131313;
    margin: -10px;
    text-align: center;
}

@media (max-width: 650px) {

    html {
        background-color: #090909;
    }

    .main {
        margin-top: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .titlebar {
        width: 100vw;
    }

    .vertical {
        padding-left: 10vw;
    }

}