h1 {
    text-shadow: 1px 1px 1px transparent, 0 0 0.2em white, 0 0 1em white;
}

.bg {
    background-color: #141414;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.cursor {
    background-color: #ffffff;
    width: 8px;
    height: 14px;
    display: inline-block;
    /* for use with a character only, this is more customisable. */
    /* todo: fix the threehead. */
    /* font-size: 13px; */
    animation: .5s blink steps(1) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.homecon {
    padding-left: 25px;
}

#container {
    width: 100%;
    height: 100%;

}

.main {
    background-color: #090909ab;
    height: 90svh;
    width: 85%;
    margin: auto;
    transition: 0.5s ease-in-out;
    margin-top: 4svh;
    margin-bottom: 4svh;
}

.vertical {
    margin: 0;
    margin-left: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.specialparagraph {
    display: inline;
}

.titlebar {
    width: 100%;
    margin-left: 0;
    height: 20px;
    background-color: #131313;
    text-shadow: 1px 1px 1px transparent, 0 0 0.2em white, 0 0 1em white;
}

.titlebar p {
    top: 0;
    left: 0;
    text-align: center;
}

#login {
    margin-left: 16px;
}

.pageimages {
    width: 200px;
}

/* initiate mobile mode 😎 */
@media (max-width: 650px) {

    html {
        background-color: #090909;
        margin-left: -6px;
    }


    .main {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: transparent;
    }

    .titlebar {
        width: 100%;
        margin-left: 0;
        /* for reference when coding javascript
        width: 90vw;
        margin-left: 40px; */
        margin-top: -16px;
    }

    .vertical {
        padding-left: 10vw;
        margin-left: 0;
    }

}

@media (max-height: 600px) {
    
    .pageimages {
        width: 10vh;
    }

}