section {
    width: 500px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.section2 {
    width: 600px;
    background-color: rgba(255, 255, 255, 0.07);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}

.section3 {
    width: 600px;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    margin-bottom: 3px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #efefef;
}

.socials {
    width: 100%;
    text-align: center;
    margin-top: 0;
}

img {
    width: 25px;
    padding-left: 3px;
    padding-right: 3px;
}

@media (max-width: 650px) {
    section {
        width: 90%;
    }

    .section2 {
        width: 95%;
    }

    .section3 {
        width: 95%;
    }
}