.nav {
    z-index: 9999;
    left: -10px;
    width: calc(100% + 20px);   
    height: 48px;
    background-color: rgba(5, 6, 12, 0.700);
    backdrop-filter: blur(10px);
    position: relative;
}
.innernav {
    display: flex;
    position: absolute;
    right: 30px;
    padding: 5px;
    padding-left: 20px;
}
.nav a {
    text-decoration: none;
}
.nav p {
    font-size: 24px;
    padding: 7px;
    transition: 100ms ease-in-out;
}
.nav p:hover {
    padding-top: 3px;
    text-decoration: dotted underline;
}