.navbar {
    position: fixed;
    width: 80px;
    height: 100%;
    left: 0;
    top: 0;
    display: grid;
    background-color: #090909;
    color: white;
    transition: 0s ease-in-out;
    z-index: 99;
}