nav {
    position: fixed;
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    display: grid;
    background-color: rgba(33, 33, 40, 0);
    color: white;
    transition: 0.5s ease-in-out;
    z-index: 2;
}

/* nav:hover {
    width: 120px;
}

nav:hover .nav-links {
    padding: 45px;
} */

.logo {
    height: 60px;
}

.logo h2 {
    text-decoration: none;
    color: #FFF;
    width: 60px;
    align-items: center;
    text-align: center;
}

.page {
    padding-left: 90px;
    transition: 0.5s;
}

.nav-links {
    padding: 15px;
    list-style: none;
    transition: 0.5s ease-in-out;
}

.nav-links li a {
    text-decoration: none;
}

.navimg {
    width: 30px;
    transition: 0.5s;
    -webkit-filter: invert(80%);
    filter: invert(80%);
    cursor: default;
}

.navimg:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    width: 55px;
}

/* @media (max-width: 1180px) {

    nav:hover {
        width: 60px;
    }

    nav:hover .nav-links {
        padding: 15px;
    }

} */

@media (prefers-color-scheme: light) {
    nav {
        background-color: rgba(255, 255, 255, 0.7)
    }

    nav:hover {
        background-color: rgb(255, 255, 255);
    }

    .navimg {
        -webkit-filter: invert(25%);
        filter: invert(25%);
    }

    .navimg:hover {
        -webkit-filter: invert(10%);
        filter: invert(10%);
    }

    .logo h2 {
        color: #131313;
    }
}