html {
    background-color: #000000;
    color: rgb(220, 218, 255);
    font-family: monospace;
    font-size: 14px;
    overflow: auto;
}
h1 {
    font-size: 4em;
    text-align: center;
}
p {
    margin: 0;
    font-size: 1.2em;
}
a {
    color: rgb(220, 218, 255);
    text-decoration: dotted underline;
}
body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #1f243f;
    visibility: hidden;
}
::-webkit-scrollbar-track:hover {
    visibility: visible;
}
::-webkit-scrollbar-thumb {
    background: #888;
    visibility: hidden;
}
::-webkit-scrollbar-thumb:hover {
    background: #999;
    visibility: visible;
}