html {
    background-color: #0e1120;
    color: rgb(220, 218, 255);
    font-family: monospace;
    font-size: 12px;
    overflow: hidden;
}
p {
    margin: 0;
    margin-right: 5.5px;
}
a {
    color: rgb(220, 218, 255);
}
input {
    border: 0;
    font-size: 12px;
    font-family: monospace;
    color: rgb(220, 218, 255);
    background-color: transparent;
    margin-top: -0.1px;
}
input:focus {
    outline:none!important;
}
#flexcontainer {
    display: flex;
    flex-direction: row;
}