@font-face {
    font-family: 'SegoeUI';
    src: url(fonts/SEGOEUIREGULAR.ttf) format('ttf');
    font-weight: bold;
    src: url(fonts/SEGOEUIBOLD.ttf) format('truetype');
    src: url(fonts/SEGOEUIBOLD.woff) format('woff2');
}

p, li, a, details, summary, h1, h2, h3, h4, h5, h6 {
    font-family: 'SegoeUI';
}

p, li, a, details, summary {
    font-size: 1.2em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7%;
    background-color: #242424;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:1;
    height: 15%;
    font-size: 1vw;
}

.main {
    color: white;
}

.logo {
    cursor: pointer;
    color: white;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    color: white;
    font-family: 'SegoeUI';
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: #ffffff8d;
    text-decoration: none;
}

.nav_links li a:hover {
    color: #ffffff;
}

button {
    padding: 9px 25px;
    background-color: rgb(65, 65, 65);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(145, 145, 145, 0.8);
}

.bold {
    font-weight: bold;
}

.big {
    font-size: 3em;
}

html {
    background-color: #292929;
    color: white;
}

.link {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.link:hover {
    text-decoration: underline;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 15vh;
}

.side {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.marginsize2 {
    margin-left: 2%;
    margin-top: 2%;
    padding-top: 100px;
}

.reallybig {
    font-size: 4em;
}

.fixed {
    position: fixed;
}

.small {
   font-size: 0.7em
}

.mobile {
    display: none;
}

.header {
    position: fixed;
}

.tablet {
    display: block;
}

.invisible {
    visibility: visible;
  }

@media screen and (max-width: 1168px){

  .fixed {
    display: none;
  }

  .side {
    width: 100%;
    padding: 20px;
  }

  button {
    margin-left: 10px;
    margin-right: 10px;
  }

  .nav_button {
    display: flex;  
  }

  main {
    margin-top: 80px;
}

  .invisible {
    visibility: hidden;
    height: 1px;
  }

  .tablet {
    display: none;
}

}

@media screen and (max-width: 500px){

 button {
    margin-top: 10px;
 }

 .mobile {
    display: block;
  }

} 

@media screen and (max-width: 1240px){

    .side {
        width: 100%;
    }
}