h1 {
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        text-align: center;
        margin: auto;
        width: 50%;
        background-color: #414141;
        color: #efefef;
        padding-top: 40vh;
    }

    .submit {
        padding: 0.5em;
        border-radius: 50px;
        border-color: #131313;
        background-color: #131313;
        color: #efefef;
    }

    .search {
        border-radius: 50px;
        border-color: #131313;
        background-color: #131313;
        color: #efefef;
        padding: 0.5em;
        width: 350px;
    }
